$formBackground: #171935;

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form {
    background-color: $formBackground;
    border-radius: 15px;
    box-sizing: border-box;
    height: 390px;
    padding: 20px;
    width: 320px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
    user-select: none;
}


.input_container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 30px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 10px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: $formBackground;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 64px;
}

.cut_short {
    width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #dc2f55;
}

.submit {
    background-color: #dc2f55;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #e70838;
}

.elseSubmit{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #eee;
    user-select: none;
    
    font-size: 15px;
}

.elseLnk{
    color: #eee;
    text-decoration: none;
    &:hover{
        cursor: pointer;
        color: #e70838;
    }
}

.slct{
    margin-top: 28px;
    // background-color:#808097;
    background-color:#303245;
    color: #808097;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: center;
    text-align-last: center;
    cursor: pointer;
}
