@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&family=Ubuntu+Condensed&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Play;
}

body{
    background: #eceffc;
}