// @import "compass/css3";

// More practical CSS...
// using mobile first method (IE8,7 requires respond.js polyfill https://github.com/scottjehl/Respond)

$breakpoint-alpha: 480px; // adjust to your needs
$formBackground: #171935;

.rwd_table {
    margin: 1em 0;
    min-width: 300px; // adjust to your needs

    tr {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    th {
        display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
    }

    td {
        display: block;

        &:first-child {
            padding-top: 0.5em;
        }
        &:last-child {
            padding-bottom: 0.5em;
        }

        &:before {
            content: attr(data-th) ": "; // who knew you could do this? The internet, that's who.
            font-weight: bold;

            // optional stuff to make it look nicer
            width: 6.5em; // magic number :( adjust according to your own content
            display: inline-block;
            // end options

            @media (min-width: $breakpoint-alpha) {
                display: none;
            }
        }
    }

    th,
    td {
        text-align: center;

        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: 0.25em 0.5em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        @media (max-width: $breakpoint-alpha){
            text-align: left;
        }
    }
}


// presentational styling

@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";

.container {
    user-select: none;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: $breakpoint-alpha){
        height: 100vh;
    }

    @media (max-width: $breakpoint-alpha){
        margin-top: 15px;
    }

}


h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: $formBackground;
}

.rwd_table {
    background: $formBackground;
    color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
    tr {
        border-color: lighten($formBackground, 10%);
    }
    th,
    td {
        margin: 0.5em 1em;
        @media (min-width: $breakpoint-alpha) {
            padding: 0.65em !important;
        }
    }
    th,
    td:before {
        color: #e70838;
    }
}

.loading{
    text-align: center;
    margin-top: 45vh;
}

.lnk{
    text-decoration: none;
    align-self: center;
    color: $formBackground;
    font-size: 18px;
    margin-bottom: 20px;

    &:hover{
        color: #dc2f55;
    }
}

.deleteImg{
    &:hover{
        cursor: pointer;
    }
}

.delete_modal_fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.delete_modal_funcLabel{
    color: #e70838;
    font-size: 18px;
    user-select: none;
    text-align: center;
}

.user_add_btn{
    background-color: #dc2f55;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    outline: 0;
    text-align: center;
    margin-bottom: 18px;
    width: 300px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
}

//input styles
.delete_modal_input_container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 30px;
}

.ic2 {
    margin-top: 30px;
}

.delete_modal_input {
    background-color: #303245;
    border-radius: 10px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 16px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.delete_modal_input_cut {
    background-color: $formBackground;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 64px;
}

.delete_modal_input_cut_short {
    width: 50px;
}

.delete_modal_input:focus ~ .delete_modal_input_cut,
.delete_modal_input:not(:placeholder-shown) ~ .delete_modal_input_cut {
    transform: translateY(8px);
}

.delete_modal_input_placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.delete_modal_input:focus ~ .delete_modal_input_placeholder,
.delete_modal_input:not(:placeholder-shown) ~ .delete_modal_input_placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.delete_modal_input:not(:placeholder-shown) ~ .delete_modal_input_placeholder {
    color: #808097;
}

.delete_modal_input:focus ~ .delete_modal_input_placeholder {
    color: #dc2f55;
}

.delete_modal_slct{
    margin-top: 28px;
    // background-color:#808097;
    background-color:#303245;
    color: #808097;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px;
    width: 300px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.delete_modal_btn {
    background-color: #dc2f55;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    margin-top: 40px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.delete_modal_btn:active {
    background-color: #e70838;
}